{% extends "base.html"%}
{%block title%}Gallery{%endblock title%}
{%block body%}


<body>
    <h1 class="welcome-msg">Welcome, To my Gallery!</h1>

    <div class="gallery">
        <div class="photo-gallery">
            <div class="column-gallery">
                <div class="photo">
                    <img src="static/images/gallery-27.png" alt="moodboard">
                </div>
                <div class="photo">
                    <img src="static/images/gallery-20.jpg" alt="moodboard">
                </div>
                <div class="photo">
                    <img src="static/images/gallery-24.png" alt="moodboard">
                </div>
                <div class="photo">
                    <img src="static/images/gallery-11.jpg" alt="moodboard">
                </div>
                <div class="photo">
                    <img src="static/images/gallery-14.jpg" alt="moodboard">
                </div>
                <div class="photo">
                    <img src="static/images/gallery-25.png" alt="moodboard">
                </div>
            </div>
            <div class="column-gallery">
                <div class="photo">
                    <img src="static/images/gallery-28.png" alt="moodboard">
                </div>
                <div class="photo">
                    <img src="static/images/gallery-21.jpg" alt="moodboard">
                </div>
                <div class="photo">
                    <img src="static/images/gallery-9.jpg" alt="moodboard">
                </div>
                <div class="photo">
                    <img src="static/images/gallery-10.jpg" alt="moodboard">
                </div>
                <div class="photo">
                    <img src="static/images/gallery-22.jpg" alt="moodboard">
                </div>
                <div class="photo">
                    <img src="static/images/gallery-12.jpg" alt="moodboard">
                </div>
            </div>
            <div class="column-gallery">
                <div class="photo">
                    <img src="static/images/gallery-13.jpg" alt="moodboard">
                </div>
                <div class="photo">
                    <img src="static/images/gallery-23.jpg" alt="moodboard">
                </div>
                <div class="photo">
                    <img src="static/images/gallery-15.jpg" alt="moodboard">
                </div>
                <div class="photo">
                    <img src="static/images/gallery-16.jpg" alt="moodboard">
                </div>
                <div class="photo">
                    <img src="static/images/gallery-17.jpg" alt="moodboard">
                </div>
                <div class="photo">
                    <img src="static/images/gallery-18.jpg" alt="moodboard">
                </div>
                <div class="photo">
                    <img src="static/images/gallery-26.png" alt="moodboard">
                </div>
            </div>
        </div>

        <div class="popup-image">
            <span>&times;</span>
            <img src="static/images/gallery-1.jpg" alt="moodboard" >
        </div>
    </div>


</body>


{%endblock body%}